
    .div{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 400px;
        margin-top: 50px;
        box-shadow: 5px 10px 8px #888888;
    }
    .text h5{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 30px;
    }
    .text p{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }