<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div>
        <a routerLink="/patientspage"><button class="btn btn-success btn-sm">go back to patients page</button></a>
    </div>


    <div class="row banner">
        <h1 class="page_header">Patient Feedback</h1>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                Service and treatment is very good. Thank you for taking care of my father
                            </div>
                            <div class="pat_name">
                                <p>- Puja</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                Good maintainence of rooms. Nice geusture by nursing staff. Overall had a very good
                                experience and feel at home. Good job. Cheers..!
                            </div>
                            <div class="pat_name">
                                <p>- K. Ananth Nag</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                I got fabulous experience in AINU as the doctors and staff are the best.
                            </div>
                            <div class="pat_name">
                                <p>- Babaji Ch Parida</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 ">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                All staff, nurses and doctors are excelent
                            </div>
                            <div class="pat_name">
                                <p>- Lalit Choudhary</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                I really appreciate all the doctors and nursing staff for their commitment.
                            </div>
                            <div class="pat_name">
                                <p>- Mrs. Mako Mohammed Khan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                It was very positive experience since admission till discharge. Great job everyone.
                            </div>
                            <div class="pat_name">
                                <p>- Siva Prasad KV</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                Good maintainence of rooms. Nice geusture by nursing staff. Overall had a very good
                                experience and feel at home. Good job. Cheers..!
                            </div>
                            <div class="pat_name">
                                <p>- K. Ananth Nag</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                Hospital is maintained excellently. No problems for patients. Thanks to Dr.Mallikarjuna
                                & his team for giving greatest service to the patients.
                            </div>
                            <div class="pat_name">
                                <p>- P.B.Sulebhavi</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                I am very thankful to this hospital and Dr P.C.Reddy for curing my father’s health
                                problem with his skillful treatment.
                            </div>
                            <div class="pat_name">
                                <p>- Parshavena Chinnanna</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                I really appreciate all the doctors and nursing staff for their commitment.
                            </div>
                            <div class="pat_name">
                                <p>- Mrs. Mako Mohammed Khan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                Attention given by the doctors and staff is good. I am impressed and feel to refer any
                                patient, who required treatment at AINU
                            </div>
                            <div class="pat_name">
                                <p>- Dr.P.Shakuntala</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                I am very thankful to this hospital and Dr P.C.Reddy for curing my father’s health
                                problem with his skillful treatment.
                            </div>
                            <div class="pat_name">
                                <p>- Parshavena Chinnanna</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                The best Urology and Nephrology Institute in South India.
                            </div>
                            <div class="pat_name">
                                <p>- Haarika haari</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                More than Dr. Mallikarjuna’s treatment, we love his smile, compassion and confidence. I
                                appreciate your team work. Thank you.
                            </div>
                            <div class="pat_name">
                                <p>- P.Swarajya Lakshmi</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                    <div class="border_bot">
                        <div class="pat_test">
                            <i class="fa quote_icon fa-quote-left" aria-hidden="true"></i>
                            <div class="testi_pat">
                                This hospital is very good and faithfulness. This is rare one in the city.
                            </div>
                            <div class="pat_name">
                                <p>- Karan Chouhan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container3">
          <div class="row5">
            <div class="footer-col">
              <h4>SPECIALITIES :</h4>
              <ul class="ul">
                <li><a href="#" style="color: white;">cardiology</a></li>
                <li><a href="#" style="color: white;">gastroenterology</a></li>
                <li><a href="#" style="color: white;">pulmonolgy</a></li>
                <li><a href="#" style="color: white;">neurology</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>OUR DOCTORS :</h4>
              <ul class="ul">
                <li><a href="#" style="color: white;">Initiatives</a></li>
                <li><a href="#" style="color: white;">doctors</a></li>
                <li><a href="#" style="color: white;">YDC Students Experience</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>LOCATIONS :</h4>
              <ul class="ul">
                <li><a href="#" style="color: white;">secundrabad</a></li>
                <li><a href="#" style="color: white;">hyderabad</a></li>
                <li><a href="#" style="color: white;">malakpet</a></li>
                <li><a href="#" style="color: white;">somajiguda</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us :</h4>
              <div class="social-links">
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>