form{
    background-color: antiquewhite;
    box-shadow: 5px 10px 8px #888888;
    border: 1px solid black;
    width: 700px;
    margin: auto;
    height: 980px;
}
input{
    width: 90%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    height: 200vh;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 30px;
}
.button{
   margin-left: 250px;
}
