.tableBox{
    margin-top: 20px;
    margin-bottom: 40px;
}
.content-table{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  box-shadow: 5px 10px 8px #888888;
  
}
.content-table td, .content-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.content-table tr:hover {background-color: #ddd;}
.content-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: 19px;
  }
  .content-table td{
      text-align: center;
  }
  /* .searchInput{
    width: 200px;
    height: 30px;
}
.searchBox{
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.searchBox label{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
} */
.div{
  display: flex;
  justify-content: center;

}